 <div class="container">
    <div class="navbar">
      <nav>
        <ul>
          <li><a href="#about">About Us</a></li>
          <li><a href="#product">Products</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li><a href="#location">Locations</a></li>
          <li><a href="/login">Order</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-2">
      <h1>Fresh State Kombucha Cocktail</h1>
      <br />
      <h2>High Quality Ingredients And Exciting Flavors!</h2>
    </div>
    <br />
    <br />
    <div class="icon">
      <a href="https://www.instagram.com/happyleafkombucha/" target="_blank">
        <ion-icon class="insta" name="logo-instagram"></ion-icon>
      </a>
    </div>
    <br />
    <h3 id="about">About Us</h3>
  </div>
  <section class="top">
    <div class="row">
      <div class="col-3">
        <br />
        <p class="aboutUsText">
          After years of being in the kombucha industry, we have seen our
          friends, community, and ourselves making our weekend and evening
          cocktails with kombucha. Why not just give everyone the ability to
          enjoy these handcrafted kombucha cocktails at their own convenience.
          No time to mix up a cocktail? We got you. Want to take your favorite
          kombucha cocktail outdoors without hauling all the ingredients and
          tools to make it? We got you. Looking for a ready to drink cocktail
          that's low in sugar with no artificial ingredients? We got you! With
          flavors like TIki Style Guava Rum and a Grapefruit Vodka, you can
          pour these refreshing cocktails over ice with split between friends
          or drink straight from the can!
        </p>
        <br />
        <div class="photoContainer">
          <img src="/images/IMG_1465.jpg" alt="FreshState Employee" class="freshStateEmployee" />

          <img src="/images/freshstatecofounder.jpg" alt="FreshState Employee" class="freshStateEmployeeThree" />

          <img src="/images/freshstate-black&white.jpg" alt="FreshState Employee" class="freshStateEmployeeTwo" />
          <!-- <img
              src="./assets/images/freshstate-color.jpg"
              alt="FreshState Employee"
              class="freshStateEmployeeThree"
            /> -->
          <!-- <img
              src="./assets/images/freshstate-black&white.jpg"
              alt="FreshState Employee"
              class="freshStateEmployeeFour"
            /> -->
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="products">
      <h3 id="product">Products</h3>
    </div>
  </section>
  <section class="products-body">
    <!-- Slideshow container -->
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">
        <div class="numbertext">1 / 6</div>
        <img src="/images/download.png" style="width: 25%" />
        <div class="text">Tiki Style Guava Rum</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 6</div>
        <img src="/images/download.png" style="width: 25%" />
        <div class="text">Grapefruit Vodka</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 6</div>
        <img src="/images/download.png" style="width: 25%" />
        <div class="text">Watermelon Mint</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 6</div>
        <img src="/images/download.png" style="width: 25%" />
        <div class="text">Sunset Rose</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 6</div>
        <img src="/images/download.png" style="width: 25%" />
        <div class="text">Mango</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">6 / 6</div>
        <img src="/images/download.png" style="width: 25%" />
        <div class="text">Island Pineapple</div>
      </div>

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)"><</a>
      <a class="next" onclick="plusSlides(1)">></a>
    </div>
    <br />


    <div class="product-info">
      Kombucha with an extra kick is no stranger to people who are looking for
      a new way to enjoy adult beverages. Using traditional kombucha brewing
      methods and fresh all natural ingredients, Fresh State Hard Kombucha is
      an approachable hard kombucha that will give you the benefits of
      kombucha with a little extra kick!" WIth Flavors like Watermelon Mint,
      Sunset Rose, Mango, and Island Pineapple you can enjoy these at any
      occasion.

      <br />
      <br />

    </div>
  </section>
  <section class="mid">
    <div class="contact">
      <h3 id="contact">Contact Us</h3>
    </div>
  </section>
  <section class="contact-body">
    <div>
      <form method="POST" class="contact-form">
        <fieldset class="contact-input">
          <label for="">Your Name:</label><br />
          <input class="Name" type="text" placeholder="Name" required /><br />
          <br />
          <label for="">Your Email:</label><br />
          <input class="Email" type="email" placeholder="Email" required /><br />
          <br />
          <label for="">Your Message:</label><br />
          <textarea class="message" name="" id="" cols="30" rows="10" placeholder="Send Us A Message Here"
            required></textarea>
          <br />
          <button type="submit" class="submit">Contact Us</button>
      </form>
    </div>
  </section>
  </fieldset>
  <section class="mid">
    <div class="location">
      <h3 id="location">Locations</h3>
    </div>
  </section>
  <section class="location-body" id="map-section">
    <div class="card-block" id="map"></div>
    <div class="card-block" id="address-components"></div>
  </section>
  <section id="random-cocktail">
    <h1 id="cocktail-header">
      Make yourself a cocktail while you wait on us to Launch!
    </h1>
    <!-- <button class="randomCocktail">Click Here To Refresh A New Drink</button>
      <div id="drink-section"></div> -->

    <!-- <h1>Random Drink Generator</h1> -->
    <div id="generate-button">
      <button id="generate">Fetch Me A Drink!</button>
    </div>
    <div class="container" id="recipe-card">
      <div id="drink-name"></div>
      <div id="image"></div>
      <div id="category"></div>
      <div id="type"></div>
      <div id="recipe">
        <p>Recipe</p>
        <div id="ingredients">
          <ul id="ingredients-list"></ul>
        </div>
      </div>
      <div id="instructions"></div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</section>
</br>
</br>
</br>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdLL3FMvNVwV0x2d3iiu3RFS3NqQu8PZU&callback=initMap"></script>
<script src="/js/home.js"></script>