:root {
    --parchment: #F9F5F2;
    --salmon: #FBACAF;
    --cloud-blue: #E4F2F5;
    --green-gray: #CFD6CE;
    --brown-purple: #c29da8
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none ;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Acme', sans-serif;
}

p{
    color: (78, 70, 60, 0.486);
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 20;
}

.container{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    background: radial-gradient(#fff,var(--parchment));
}

.top{
    background: radial-gradient(#fff,var(--salmon));
}

.top .row{
    margin-top: none;
}

.col-2{
    text-align: center;
}

h3{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 42px;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.mid{
    background: radial-gradient(#fff,var(--parchment));
}

.products-body {
    background: radial-gradient(#fff,var(--cloud-blue));
}

.contact-body {
    background: radial-gradient(#fff,var(--green-gray));
}

.location-body {
    background: radial-gradient(#fff,var(--brown-purple));
}